body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #17191f;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 800px;
  margin: 0 auto;
}
